*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    background-color:burlywood;
    display:flex;
    align-items: center;
    justify-content: center;
}
.konyv{
    width: 350px;
	height: 450px;
	position: relative;
	transition-duration: 1s;
	perspective: 2000;
}
.fedolap, .hatlap {
	background-color: #000;
	width: 100%;
	height: 100%;
	border-radius: 0 15px 15px 0;
	box-shadow: 0 0 5px rgb(41, 41, 41);
	display: flex;
	align-items: center;
	justify-content: center;
	transform-origin: center left;
}
.fedolap{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 12;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	transition: transform 2s;
}
.fedolap-hatulja{
	position: absolute;
	height: 90%;
	width: 90%;
	border-radius: 15px 0 0 15px ;
	background-color: aliceblue;
	transform: rotateY(-180deg);
	backface-visibility: hidden;
	box-sizing: border-box;
	left:1px;
}
	

.lapok{
	margin-top: 22px;
	position: absolute;
	height: 90%;
	width: 90%;
	border-radius:  0 15px 15px 0 ;
	background-color: aliceblue;
	transform: rotateY(0deg);
	transform-origin: left;
	transform-style: preserve-3d;
	transition: transform 2s;
}
.lapok h2{
    position: relative;
    left: 25%;
    margin-top: 10px;

}
h4{
    margin-left: 120px;
}

.lapok p{
    position: relative;
    margin: 15px;
    line-height: 1.4;
    font-size: large;
}
.lap-hatulja{
    border-radius: 15px 0 0 15px ;
    height: 100%;
    transform: rotateY(180deg);
	backface-visibility: hidden;
}
.lap-eleje {
    position: absolute;
    border-radius: 0 15px 15px 0 ;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.alairas{
	margin-left: 150px;
}

#lap1{
	z-index: 11;
}
#lap1-eleje {
	z-index: 5;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
}
#lap1-eleje p{
	position:absolute;
	top:40%;
}

#lap2{z-index: 10;}
#lap3{z-index: 9;}
#lap4{z-index: 8;}
#lap5{z-index: 7;}
#lap6{z-index: 6;}
#lap7{z-index: 5;}
#lap8{z-index: 4;}
#lap9{z-index: 3;}
#lap10{z-index: 2;}
#lap11{z-index:1 ;}
.hatlap{
	position: absolute;
	z-index: -1;
}

input{
	display: none;
}
.fedolap label{
	position: relative;
	height: 100%;
	width:100%;
	cursor: pointer;
	
}
.fedolap-hatulja label{
	
	position:absolute;
	border-radius: 15px 0 0 15px ;
	height: 100%;
	width:100%;
	cursor: pointer;
}
.hatlap label{
	
	position: relative;
	height: 100%;
	width: 100%;
	border-radius: 0 15px 15px 0;
	cursor: pointer;
}
.elore, .hatra{
	background-color: rgb(202, 175, 134);
	height: 20px;
	width: 15px;
	border-radius: 50%;
	padding: 0 5px;
	cursor: pointer;
	
}
.elore{
	position: absolute;
	top: 370px;
	left: 280px;
}
.hatra{
	position: absolute;
	top:360px;
	left:10px;
}
#checkbox-fedolap:checked ~ .konyv{
	transform: translateX(150px);
	}
#checkbox-fedolap:checked ~ .konyv .fedolap{
	transition: transform 1.5s, z-index 0.5s 0.5s;
  	transform: rotateY(-180deg);
	z-index: 0;
}
#checkbox-fedolap:checked ~ .konyv .lapok {
	box-shadow: 0 0 3px rgb(99, 98, 98);
}
#checkbox1:checked ~ .konyv #lap1{
    transition: transform 2s, z-index 0.5s 0.5s;
  	transform: rotateY(-180deg);
	z-index:2;
}
#checkbox2:checked ~ .konyv #lap2{
    transition: transform 2s, z-index 0.5s 0.5s;
  	transform: rotateY(-180deg);
	z-index:3;
}
#checkbox3:checked ~ .konyv #lap3{

	transition: transform 2s, z-index 0.5s 0.5s;
  	transform: rotateY(-180deg);
	z-index:4;
}
#checkbox4:checked ~ .konyv #lap4{

	transition: transform 2s, z-index 0.5s 0.5s;
  	transform: rotateY(-180deg);
	z-index:5;
}
#checkbox5:checked ~ .konyv #lap5{
    transition: transform 1.5s, z-index 0.5s 0.5s;
  	transform: rotateY(-180deg);
	z-index:6;
}
#checkbox6:checked ~ .konyv #lap6{
    transition: transform 1.5s, z-index 0.5s 0.5s;
  	transform: rotateY(-180deg);
	z-index:7;
}
#checkbox7:checked ~ .konyv #lap7{
    transition: transform 1.5s, z-index 0.1s 0.1s;
  	transform: rotateY(-180deg);
	z-index:8;
}
#checkbox8:checked ~ .konyv #lap8{
    transition: transform 1.5s, z-index 0.1s 0.1s;
  	transform: rotateY(-180deg);
	z-index:9;
}
#checkbox9:checked ~ .konyv #lap9{
    transition: transform 1.5s, z-index 0.1s 0.1s;
  	transform: rotateY(-180deg);
	z-index:10;
}
#checkbox10:checked ~ .konyv #lap10{
    transition: transform 1.5s, z-index 0.1s 0.1s;
  	transform: rotateY(-180deg);
	z-index:11;
}
#checkbox-hatlap:checked ~ .konyv .hatlap{
	z-index:12;
    transition: transform 1.5s, z-index 0.1s 0.1s;
  	transform: rotateY(180deg);
	
}
#checkbox-hatlap:checked ~ .konyv{
	transform: translateX(300px);
}